<h1>Signin</h1>
<br><br>

<form method="post" action="/auth/signin">

<label for="username">Username</label>
<input type="text" name="username" id="username">
<br><br>
<label for="password">Password</label>
<input type="password" name="password" id="password">
<br><br>

<button>Signin!</button>
</form>
<br><br>

<a href="/auth/signup">Or create an account</a>