<h1>Sign up</h1>
<br><br>

<form method="post" action="/auth/signup">

<label for="username">Username</label>
<input type="text" name="username" id="username">
<br><br>
<label for="password">Password</label>
<input type="password" name="password" id="password">
<br><br>
<label for="email">Email</label>
<input type="text" name="email" id="email">
<br><br>
<label for="role">Role</label>
<select name="role" id="role">
    <option value="user">user</option>
    <option value="admin">admin</option>
</select>
<br><br>
<label for="avatar ">Avatar</label>
<input type="file" name="avatar " id="avatar ">

<button>Signup</button>
</form>