<h1 class="title">Home of music lovers</h1>
<a href="/auth/signin">Signin</a>
<a href="/auth/signup">Signup</a>
<a href="auth/signout">Signout</a>
<p>
    Music is <b>life</b> !<br>
    <b>Welcome</b> to Artistify, a fullstack application powered by expressjs, mongodb and hbs.
</p>

<hr>